name: "quoin-db"

services:
  postgres:
    image: postgres:17.5-alpine
    ports:
      - 5432:5432
    volumes:
      - ~/apps/posgres:/var/lib/posgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
